.book-main {
    padding: 20px;
}

.card-title {
    font-family: var(--cinzel);
    font-size: 40px;
}

.card-content {
    font-family: var(--arvo);
    font-size: 20px;
    text-justify: auto;
    color: var(--font-color);
    margin: 30px;
}

.author {
    font-family: var(--arvo);
    color: var(--liver);
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    float: left;
    margin: 20px 20px 5px 20px;
    border-radius: 2px;
    border: 1px solid black;
}

.capitalic {
    float: left;
    font-family: var(--unifraktur);
    border: medium outset var(--liver);
    border-radius: 4px;
    background-color: var(--liver);
    font-size: 60px;
    width: 1em;
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: var(--cultured);
    -webkit-text-stroke-color: var(--liver);
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px black;
    margin: 10px;
}

.card-text {
    text-align: justify;
}

.decoration {
    width: auto;
    background-color: var(--liver);
    background-image: url('knot.svg');
    background-size: 30px;
    height: 30px;
    background-position: center;
    border-left: 3px solid goldenrod;
    border-right: 3px solid goldenrod;
}

.b-dec {
    margin: 20px 0px 20px 0px;
    min-height: 350px;
}

.aux-notes {
    background-color: goldenrod;
    border: 1px solid var(--liver);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}